<h1>Tracks for <%= @album.albumname %></h1>
<% @tracks.each do |track| %>
<ul>
<li>id: <%= track.id %></li>
<li>title: <%= track.title %></li>
<li><%= track.tracknote %></li>
<li><%= track.tracklink %></li>
<li><%= track.show %></li>
<li><%= track.talent %></li>
<li><%= track.duration %></li>
<li><%= track.publisher %></li>
<li><%= track.datecopyrighted %></li>
<li>date: <%= track.date %></li>
</ul>
<% end %>
