<h1>Track </h1>
<%= @track.id %>
<%= @track.title %>
<%= @track.tracknote %>
<%= @track.tracklink %>
<%= @track.show %>
<%= @track.talent %>
<%= @track.duration %>
<%= @track.publisher %>
<%= @track.datecopyrighted %>
<%= @track.created_at %>
