<h1>Tracks</h1>
<% for track in @tracks %>
<%= track.id %>
<%= track.title %>
<%= track.tracknote %>
<%= track.tracklink %>
<%= track.show %>
<%= track.talent %>
<%= track.duration %>
<%= track.publisher %>
<%= track.datecopyrighted %>
<%= track.created_at %>
<% end %>
